In [1]:
import pandas as pd
from PIL import Image,ImageDraw,ImageFont

In [2]:
f=pd.read_csv("participants1.csv")

In [3]:
f

   Unnamed: 0      Name  Gender Project manager mentor           num
0           0   Adithya    male           madhi  gokul  abc228782787
1           1   raechel  female           madhi  gokul  abc738738788
2           2  chandler    male           madhi  gokul  abc728738878
3           3    monika  female           madhi  gokul  abc903090837
4           4       joe    male           madhi  gokul  abc478579389
5           5    phoebe  female           madhi  gokul  abc384984984

In [4]:
records = f.to_dict(orient='record')

In [5]:
font = ImageFont.truetype("OpenSans-Semibold.ttf",size=25)

In [6]:
def generate_cert(data):
    template = Image.open("template1.jpg")
    draw = ImageDraw.Draw(template)
    draw.text((140, 145), str(data['Name']), font=font, fill='black')
    draw.text((140, 170), data['Gender'], font=font, fill='black')
    draw.text((423, 145), data['Project manager'], font=font, fill='black')
    draw.text((423, 170), data['mentor'], font=font, fill='black')
    draw.text((174,385),data['num'],font=font,fill='black')    
    return template

In [7]:
for record in records:
    certificate = generate_cert (record)
    certificate.save(f"certificates/{record['Name']}.jpg")